<% include header %>
<div role="main" class="container">
<% include navbar %>


    <br/><br/>

    <h2>Welcome to the <%= title %>!</h2>


<% include list %>
<% include footer %>
</div>

<% include scripts %>